<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Actor Detail</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/foundation.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
    <p>
      <a href="/actors">Full list of Actors</a>
    </p>
    <h1><%= @actor_detail[0].values[0] %></h1>

    <table>
      <thead>
        <tr>
          <th><%=@actor_detail[0].keys[2]%></th>
          <th><%=@actor_detail[0].keys[3]%></th>
        </tr>
      </thead>

      <tbody>
        <% @actor_detail.each do |line| %>
        <tr>
          <td><a href="/movies/<%= line["id"]%>"><%= line["title"]%></td>
          <td><%= line.values[3]%></td>
        </tr>
          <%end%>
      </tbody>
    </table>
</html>
